<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eKlinika - Početna stranica</title>
    <!-- Angular Material CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Angular Material theming -->
    <link href="./log-nav.component.css" rel="stylesheet">

</head>

<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <a class="navbar-brand" [routerLink]="['/login-home']">
                    <img src="../../../assets/Logo.jpg" alt="Logo Image">
                </a>
            </div>
            <div class="navbar-nav">
                <button class="nav-button" [routerLink]="['/login-home']">Prijemi</button>
                <button class="nav-button" [routerLink]="['/new-patient']">Novi pacijent</button>
                <button class="nav-button" [routerLink]="['/new-doctor']">Novi ljekar</button>
                <button class="nav-button" [routerLink]="['/new-admission']">Novi prijem</button>
            </div>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </nav>
    </header>
    
</body>

</html>
