<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eKlinika - Početna stranica</title>
  
    <link href="./footer.component.css" rel="stylesheet">
</head>
<body>
    <footer class="p-2">
        <div class="contact-info">
            <p><i class="fas fa-phone"></i>Telefon: +123456789</p>
            <p><i class="fas fa-envelope"></i>E-mail: info@example.com</p>
            <p><i class="fas fa-map-marker-alt"></i>Adresa: 123 Example Street, Grad, Država</p>
        </div>
        <p class="m-0">&copy; 2024 eKlinika. Sva prava zadržana.</p>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
