<!DOCTYPE html>
<html lang="bs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eKlinika - Početna stranica</title>
    <!-- Bootstrap CSS -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Dodajte link ka vašem CSS fajlu -->
    <link href="./new-admission.component.css" rel="stylesheet">
</head>

<body>
    <app-log-nav></app-log-nav>
    <main>
        <div class="container">
            <h2>Unos novog prijema</h2>
            <form [formGroup]="myForm" (ngSubmit)="btnDodaj()">
                <div class="form-group">
                    <label for="datumIVrijemePrijema">Datum i vrijeme prijema:</label>
                    <input type="datetime-local" id="datumIVrijemePrijema" name="datumIVrijemePrijema" required formControlName="datumIVrijemePrijema" [min]="minDateTime">
                    <div *ngIf="myForm.get('datumIVrijemePrijema')?.invalid && myForm.get('datumIVrijemePrijema')?.touched" class="text-danger">Datum i vrijeme su obavezni!</div>
                </div>
                
                
                <div class="form-group">
                    <label for="nadlezniLjekarId">Odaberite ljekara prijema (specijalista):</label>
                    <select id="nadlezniLjekarId" name="nadlezniLjekarId" required formControlName="nadlezniLjekarId">
                        <option value="" disabled selected>Odaberite ljekara</option>
                        <option *ngFor="let ljekar of ljekari" [value]="ljekar.id">
                            {{ ljekar.ime }} {{ ljekar.prezime }} - 
                            {{ ljekar.titula === 0 ? 'Specijalista' : ljekar.titula === 1 ? 'Specijalizant' : 'Medicinska sestra' }}
                        </option>
                    </select>
                    <div *ngIf="myForm.get('nadlezniLjekarId')?.invalid && myForm.get('nadlezniLjekarId')?.touched" class="text-danger">Ljekar je obavezan!</div>
                </div>
               
                <div class="form-group" style="display: flex; align-items: center;">
                    <div style="width: 50%;">
                        <label for="pacijentId">Odaberite Pacijenta:</label>
                        <ejs-dropdownlist  [dataSource]='localData' [fields]='dataFields' [allowFiltering]='true' 
                        placeholder='Odaberi pacijenta' [ignoreAccent]='true' style="width: 100%;" formControlName="pacijentId">
                        </ejs-dropdownlist>
                    </div>
                    <div class="form-group-hitni-prijem" style="margin-left: 20px;">
                        <label for="hitniPrijem">Hitni slučaj:</label>
                       
                         <input type="checkbox" formControlName="hitniPrijem" [checked]="false">

                    </div>
                </div>
                
                <button type="submit">Spasi prijem</button>
            </form>
            
        </div>
    </main>
    
    <app-footer></app-footer>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!-- Dodajte link ka vašem JavaScript fajlu -->
    <script src="./new-admission.component.ts"></script>
</body>

</html>
