<!DOCTYPE html>
<html lang="bs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eKlinika - Početna stranica</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Dodajte link ka vašem CSS fajlu -->
    <link href="./new-admission.component.css" rel="stylesheet">
</head>

<body>
    <app-log-nav></app-log-nav>
    <main>
        <div class="container">
            <h2>Unos novog prijema</h2>
            <form>
                <div class="form-group">
                    <label for="datumVrijeme">Datum i vrijeme prijema:</label>
                    <input type="datetime-local" id="datumVrijeme" name="datumVrijeme" required>
                </div>
                <div class="form-group">
                    <label for="pacijent">Odaberite pacijenta:</label>
                    <select id="pacijent" name="pacijent" required>
                        <!-- Ovdje ide lista dostupnih pacijenata -->
                        <option value="1">Pacijent 1</option>
                        <option value="2">Pacijent 2</option>
                        <!-- Dodajte ostale pacijente prema potrebi -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="ljekar">Odaberite ljekara prijema (specijalista):</label>
                    <select id="ljekar" name="ljekar" required>
                        <!-- Ovdje ide lista dostupnih ljekara -->
                        <option value="1">Ljekar 1</option>
                        <option value="2">Ljekar 2</option>
                        <!-- Dodajte ostale ljekare prema potrebi -->
                    </select>
                </div>
                <div class="form-group-hitni-prijem">
                    <label for="hitniPrijem">Hitni slučaj:</label>
                    <input type="checkbox" id="hitniPrijem" name="hitniPrijem">
                </div>
                <button type="submit">Spasi prijem</button>
            </form>
        </div>
    </main>
    
    <app-footer></app-footer>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <!-- Dodajte link ka vašem JavaScript fajlu -->
    <script src="./new-admission.component.ts"></script>
</body>

</html>
