/* styles.css */

body {
    /* background-image: url('../../../assets/hospital-homepage.jpg');
     */
     background-color:rgb(222, 245, 249);
    /* Postavljanje pozadine */
    background-size: cover;
    /* Pokrivanje cijelog ekrana */
    background-repeat: no-repeat;
    /* Spriječavanje ponavljanja pozadine */
    background-position: center center;
    /* Poravnavanje slike na sredinu */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header {
    background-color: rgba(174, 227, 216, 0.8);
    /* Prilagođena boja sa transparentnošću */
    padding: 20px;
    text-align: center;
}

h1,
p {
    color: #333;
    /* Tamnosiva boja teksta */
}

main {
    padding: 20px;
    text-align: center;
    color: black;
    /* Bijela boja teksta za kontrast */
}

footer {
    background-color: rgba(174, 227, 216, 0.8);
    /* Prilagođena boja sa transparentnošću */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Dodajemo stilove za animirani gumb */
.call-to-action {
    background-color: #5c9ead;
    /* Plava boja */
    color: #fff;
    /* Bijela boja teksta */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    animation: pulse 2s infinite alternate;
    /* Pulsiranje animacija */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.rounded {
    border-radius: 40px;
    /* Postavljamo radijus zaobljenja */
    background-color: #aee3d8;
    /* Pastelno zelena boja */
    transition: background-color 0.3s ease;
    /* Dodana animacija za promjenu boje */
    width: 150px;
    /* Povećana širina dugmeta */
}

.rounded:hover {
    background-color: #90c1b0;
    /* Promjenjuje boju dugmeta na hover */
}


.container {
    margin-top: 50px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.filter-form {
    margin-bottom: 20px;
}

.filter-form label {
    margin-right: 10px;
}

.filter-form input[type="date"],
.filter-form button {
    margin-right: 10px;
}

/* Dodatni stil za dugme Dodaj pacijenta */
#dodajPacijenta {
    position: absolute;
    top: 150px; /* Podešavanje rastojanja od vrha stranice */
    right: 20px; /* Podešavanje rastojanja od desne ivice */
    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dodajPacijenta:hover {
    background-color: #0056b3;
}


.patient-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    z-index: 9999;
    width: 80%; /* Promenjena širina na 80% */
    max-width: 450px; /* Maksimalna širina */
    border: 2px solid #333;
}

.patient-form input,
.patient-form select {
    display: block;
    margin: 10px auto;
    padding: 8px; /* Smanjena visina paddinga */
    width: calc(100% - 20px); /* Prilagođena širina */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.patient-form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px; /* Prilagođena veličina paddinga */
    border-radius: 5px;
    cursor: pointer;
    width: calc(30% - 40px); /* Prilagođena širina dugmeta */
    font-size: 16px;
}

.close-btn {
    position: absolute;
    top: 10px; /* Pomeranje dugmeta za zatvaranje */
    right: 10px; /* Pomeranje dugmeta za zatvaranje */
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.close-btn:hover {
    color: #aee3d8;
}
.form-group-btn{
 
    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.patient-form h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.patient-form label {
    font-size: 14px;
    text-align: left; /* Poravnavanje teksta levo */
    margin-left: 5px; /* Dodat margin za dodatni razmak */
    display: block; /* Da bi se tekst iznad inputa prikazivao kao blok element */
}

.patient-form p {
    font-size: 14px;
}

