body {

    background-color: rgb(222, 245, 249);

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center center;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

header {
    background-color: rgba(174, 227, 216, 0.8);

    padding: 20px;
    text-align: center;
}

h1,
p {
    color: #333;

}

main {
    padding: 20px;
    text-align: center;
    color: black;

}



footer {
    background-color: rgba(174, 227, 216, 0.8);

    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.call-to-action {
    background-color: #5c9ead;

    color: #fff;

    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    animation: pulse 2s infinite alternate;

}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.rounded {
    border-radius: 40px;

    background-color: #aee3d8;

    transition: background-color 0.3s ease;

    width: 150px;

}

.rounded:hover {
    background-color: #90c1b0;

}


.container {
    margin-top: 50px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.filter-form {
    margin-bottom: 20px;
}

.filter-form label {
    margin-right: 10px;
}

.filter-form input[type="date"],
.filter-form button {
    margin-right: 10px;
}

.filter-form button {

    background-color: #007bff;
    color: black;


    color: black;

    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form button:hover {
    background-color: #0056b3;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}

.space {
    height: 50px;
}

.admission-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    z-index: 9999;
    width: 80%;
    max-width: 450px;
    border: 2px solid #333;
}

.admission-form input,

.admission-form input,
.admission-form select,
.admission-form textarea {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box; /* Dodajemo ovo da bi padding i border bili uključeni u izračunatu širinu */
}


.admission-form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: calc(30% - 40px);
    font-size: 16px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.close-btn:hover {
    color: #aee3d8;
}

.form-group-btn {

    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.admission-form h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.admission-formlabel {
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
    display: block;
}

.admission-form p {
    font-size: 14px;
}