<!DOCTYPE html>
<html lang="bs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eKlinika - Početna stranica</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link href="./login-home.component.css" rel="stylesheet">
    <style>
        .table-container {
            max-height: 400px;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <app-log-nav></app-log-nav>
    <main>
        <div class="container">
            <h2>Evidencija prijema pacijenata</h2>
           <!-- login-home.component.html -->
<div class="filter-form">
    <label for="from-date">Od:</label>
    <input type="date" id="from-date">
    <label for="to-date">Do:</label>
    <input type="date" id="to-date">
    <button id="filter-btn" (click)="filterData()">Filtriraj</button>
</div>


            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ime i prezime pacijenta</th>
                            <th>Datum i vrijeme prijema</th>
                            <th>Ime i prezime nadležnog ljekara</th>
                            <th>Hitni prijem</th>
                            <th>Akcije</th>
                            <th>Otkaži</th>
                            <th>Kreiraj nalaz</th>

                           
                        </tr>
                    </thead>
                    <tbody>

                        <ng-container *ngFor="let prijem of prijemPacijenta">
                            <tr>

                                <td>{{ pacijenti[prijem.pacijentId] }}</td>

                                <td>{{ prijem.datumIVrijemePrijema | date: 'dd.MM.yyyy. h:mm a' }}</td>


                                <td>{{ ljekari[prijem.nadlezniLjekarId] }}</td>




                                <td>

                                    <span
                                        [ngClass]="{'text-success': prijem.hitniPrijem, 'text-danger': !prijem.hitniPrijem}">
                                        <i *ngIf="prijem.hitniPrijem" class="fas fa-check"></i>
                                        <i *ngIf="!prijem.hitniPrijem" class="fas fa-times"></i>
                                    </span>
                                </td>

                                <td>

                                    <button type="button" class="btn btn-primary btn-sm" (click)="openModal(prijem.id)"><i
                                            class="fas fa-edit"></i></button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="openModalObrisi(prijem.id)"><i class="fas fa-trash"></i></button>

                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm" (click)="openModalZaNalaz(prijem.id, prijem.datumIVrijemePrijema)"
                                    >
                                        <i class="fas fa-file-medical"></i>
                                    </button>
                                </td>
                               
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div class="space">

                </div>
            </div>
        </div>
        <div class="admission-form" *ngIf="brisanje">
            <h4>Da li ste sigurni da zelite obrisati prijem?</h4>

            <form>
                <button class="close-btn" (click)="closeModalObrisi()">Zatvori</button>
                <button type="button" class="form-group-btn" (click)="btnObrisi()">Obrisi</button>
            </form>

        </div>
        <div class="admission-form" *ngIf="prikaziNalaz">
            <h2>Kreiranje nalaza</h2>
            <form [formGroup]="myFormZaNalaz" (ngSubmit)="btnKreirajNalaz()">
                <button class="close-btn" (click)="closeModalZaNlaza()">Zatvori</button>
                <div class="form-group">
                    <label for="datumIVrijemeKreiranja">Datum i vrijeme prijema:</label>
                    <input type="datetime-local" id="datumIVrijemeKreiranja" name="datumIVrijemeKreiranja" required formControlName="datumIVrijemeKreiranja" [min]="minDateTime" readonly>

                   
                </div>
                
                <div class="form-group">
                    <label for="tekstualniOpis">Tekstualni opis:</label>
                    <!-- Koristimo <textarea> element umjesto <input> elementa -->
                    <textarea id="tekstualniOpis" name="tekstualniOpis" required formControlName="tekstualniOpis" rows="5"></textarea>
                    <div *ngIf="myFormZaNalaz.get('tekstualniOpis')?.invalid && myFormZaNalaz.get('tekstualniOpis')?.touched" class="text-danger">Text je obavezan!</div>
                </div>
                <button type="submit" class="form-group-btn" [disabled]="myFormZaNalaz.invalid">Kreiraj nalaz</button>
            </form>
        </div>

      

        <div class="admission-form" *ngIf="prikazi">
            
            <h2>Ažuriranje prijema</h2>
            <form [formGroup]="myForm" (ngSubmit)="btnUredi()">
                <button class="close-btn" (click)="closeModal()">Zatvori</button>
                <div class="form-group">
                    <label for="datumIVrijemePrijema">Datum i vrijeme prijema:</label>
                    <input type="datetime-local" id="datumIVrijemePrijema" name="datumIVrijemePrijema" required formControlName="datumIVrijemePrijema" [min]="minDateTime">
                    <div *ngIf="myForm.get('datumIVrijemePrijema')?.invalid && myForm.get('datumIVrijemePrijema')?.touched" class="text-danger">Datum i vrijeme su obavezni!</div>
                </div>
                
                
             <div class="form-group">
                    <label for="nadlezniLjekarId">Odaberite ljekara prijema (specijalista):</label>
                    <select id="nadlezniLjekarId" name="nadlezniLjekarId" required formControlName="nadlezniLjekarId">
                        <option value="" disabled selected>Odaberite ljekara</option>
                        <option *ngFor="let ljekar of ljekariZaEdit" [value]="ljekar.id">
                            {{ ljekar.ime }} {{ ljekar.prezime }} - 
                            {{ ljekar.titula === 0 ? 'Specijalista' : ljekar.titula === 1 ? 'Specijalizant' : 'Medicinska sestra' }}
                        </option>
                    </select>
                    <div *ngIf="myForm.get('nadlezniLjekarId')?.invalid && myForm.get('nadlezniLjekarId')?.touched" class="text-danger">Ljekar je obavezan!</div>
                </div> 
             
                <div class="form-group" style="display: flex; align-items: center;">
                    <div style="width: 50%;">
                        <label for="pacijentId">Odaberite Pacijenta:</label>
                        <ejs-dropdownlist  [dataSource]='localData' [fields]='dataFields' [allowFiltering]='true' 
                        placeholder='Odaberi pacijenta' [ignoreAccent]='true' style="width: 100%;" formControlName="pacijentId">
                        </ejs-dropdownlist>
                    </div>
                    <div class="form-group-hitni-prijem" style="margin-left: 20px;">
                        <label for="hitniPrijem">Hitni slučaj:</label>
                       
                         <input type="checkbox" formControlName="hitniPrijem" [checked]="false">

                    </div>
                </div>
                
                <button type="submit" class="form-group-btn" [disabled]="myForm.invalid">Uredi</button>
            </form>
            
        </div>
    </main>
    <app-footer></app-footer>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script src="./login-home.component.js"></script>
</body>

</html>